# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

service:
  type: NodePort
  externalPort: 443
  nodePort: {{ _dashboard_port }}

nodeSelector: {"node-role.kubernetes.io/master":""}

tolerations:
 - key: "node-role.kubernetes.io/master"
   operator: "Exists"
   effect: "NoSchedule"

protocolHttp: {{ disable_dashboard_tls }}
