# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.10.0"
ansible-lint = "==4.2.0"
jinja2 = "==2.11.3"
pylint = "==2.7.2"
netaddr = "==0.7.18"
sh = "==1.14.1"
# Force 3.2 due to security vulnabilities in 3.4.6
cryptography = "==3.2"

[requires]
python_version = "3.6"
