# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

- op: replace
  path: /spec/template/spec/containers/0/image
  value: {{ _registry_ip_address }}:{{ _registry_port }}/tas-controller:latest
- op: replace
  path: /spec/template/spec/containers/1/image
  value: {{ _registry_ip_address }}:{{ _registry_port }}/tas-extender:latest
