# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

- op: replace
  path: /spec/template/spec/containers/0/image
  value: ovs-dpdk

- op: replace
  path: /spec/template/spec/containers/0/imagePullPolicy
  value: Never

- op: replace
  path: /spec/template/spec/containers/0/livenessProbe/initialDelaySeconds
  value: 60

- op: add
  path: /spec/template/spec/containers/0/volumeMounts/-
  value:
    mountPath: /hugepages
    name: hugepage

- op: add
  path: /spec/template/spec/containers/0/volumeMounts/-
  value:
    name: dev
    mountPath: /dev

- op: replace
  path: /spec/template/spec/containers/0/resources/requests/memory
  value: {{ kubeovn_dpdk_resources_requests }}

- op: replace
  path: /spec/template/spec/containers/0/resources/limits/memory
  value: {{ kubeovn_dpdk_resources_limits }}

- op: add
  path: /spec/template/spec/containers/0/resources/limits/hugepages-{{ kubeovn_dpdk_hugepage_size }}
  value: {{ kubeovn_dpdk_hugepages }}

- op: add
  path: /spec/template/spec/volumes/-
  value:
    name: dev
    hostPath:
      path: /dev

- op: add
  path: /spec/template/spec/volumes/-
  value:
    name: hugepage
    emptyDir:
      medium: HugePages
