diff --git a/install.sh b/install.sh
index 9e05fac8..8bc32b45 100755
--- a/install.sh
+++ b/install.sh
@@ -735,11 +735,11 @@ spec:
           resources:
             requests:
               cpu: $DPDK_CPU
-              memory: $DPDK_MEMORY
+              memory: {{ kubeovn_dpdk_resources_requests }}
             limits:
               cpu: $DPDK_CPU
-              memory: $DPDK_MEMORY
-              hugepages-1Gi: 1Gi
+              memory: {{ kubeovn_dpdk_resources_limits }}
+              hugepages-{{ kubeovn_dpdk_hugepage_size }}: {{ kubeovn_dpdk_hugepages }}
       nodeSelector:
         kubernetes.io/os: "linux"
       volumes:
@@ -1890,7 +1890,16 @@ echo "-------------------------------"
 echo ""
 
 echo "[Step 6] Run network diagnose"
-kubectl ko diagnose all
+
+retries=0
+while [[ $retries -lt {{ number_of_retries }} ]]; do
+  if kubectl ko diagnose all; then
+    break;
+ fi
+
+  retries=$((retries + 1))
+  sleep {{ retry_delay }}
+done

 echo "-------------------------------"
 echo ""
