# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

dpdk-socket-mem="{{ kubeovn_dpdk_socket_mem }}"
dpdk-init="{{ kubeovn_dpdk }}"
pmd-cpu-mask="{{ kubeovn_dpdk_pmd_cpu_mask }}"
dpdk-lcore-mask="{{ kubeovn_dpdk_lcore_mask }}"
dpdk-hugepage-dir=/dev/hugepages
dpdk-extra="--iova-mode=pa"
