#!/bin/bash -e

# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

IMAGE="vcaca-centos7618-analytics-hddldaemon"
DIR=$(dirname $(readlink -f "$0"))

. "${DIR}/../../../../script/build.sh"
