# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

ansible
libyaml
dwz
perl
perl-Carp
perl-constant
perl-Encode
perl-Exporter
perl-File-Path
perl-File-Temp
perl-Filter
perl-Getopt-Long
perl-HTTP-Tiny
perl-libs
perl-macros
perl-parent
perl-PathTools
perl-Pod-Escapes
perl-podlators
perl-Pod-Perldoc
perl-Pod-Simple
perl-Pod-Usage
perl-Scalar-List-Utils
perl-Socket
perl-srpm-macros
perl-Storable
perl-Text-ParseWords
perl-threads
perl-threads-shared
perl-Time-HiRes
perl-Time-Local
python2-cryptography
python2-httplib2
python2-jmespath
python2-pyasn1
python-babel
python-cffi
python-enum34
python-idna
python-jinja2
python-markupsafe
python-paramiko
python-ply
python-pycparser
python-six
PyYAML
sshpass
python3
python3-libs
python3-devel
python3-rpm-generators
python3-rpm-macros
python-rpm-macros
python-srpm-macros
python-netaddr
redhat-rpm-config
zip
python-setuptools
python-backports
python-backports-ssl_match_hostname
python-ipaddress
python3-pip
libtirpc
python3
python3-libs
python3-setuptools
