# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019-2020 Intel Corporation

---

resources:
- {{ item }}-operator.yaml

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: {{ item }}-operator
  path: add_cmk_toleration.yml
