# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019-2020 Intel Corporation

[Service]
{% if proxy_http is defined and proxy_http|length %}
Environment="HTTP_PROXY={{ proxy_http }}"
{% endif %}
{% if proxy_https is defined and proxy_https|length %}
Environment="HTTPS_PROXY={{ proxy_https }}"
{% endif %}
{% if proxy_noproxy is defined and proxy_noproxy|length %}
Environment="NO_PROXY={{ ansible_host }},{{ proxy_noproxy }}"
{% endif %}
