# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---
# image specifies vpu plugin image repository address and related tag.
# default repository is openness local docker registry.
image:
  repository: {{ _registry_ip_address }}:{{ _registry_port }}/intel/intel-vpu-plugin
  tag: {{ _vpu_plugin.tag }}

# pullPolicy secifies the pulling policy.
pullPolicy: IfNotPresent

# nodeSelector specifies the nodeSelector for vpu plugin: default is vcac-zone.
nodeSelector: {{ _vpu_plugin.nodeSelector }}
