# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019-2020 Intel Corporation

registryPrefix: "{{ _registry_host }}:{{ _registry_port }}/intel/"
tag: latest
noProxyHosts: {{proxy_noproxy}}
httpProxy: {{proxy_http}}
httpsProxy: {{proxy_https}}