# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation

apiVersion: v2
name: {{ _mts_helmReleaseName }}
description: A Helm chart for Media Transcode Service
type: application
version: {{ _mts_helmChartVersion }}
appVersion: {{ _mts_helmChartVersion }}
