# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

apiVersion: v2
name: {{ _vas_helmReleaseName }}
description: A Helm chart for Video Analytics Service
type: application
version: {{ _vas_helmChartVersion }}
appVersion: {{ _vas_helmChartVersion }}
